body{
    font-family: 'Raleway', sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

.loader{
    border: 4px solid red;
    border-radius: 50%;
    border-bottom: 4px solid #fff;
    width:30px;
    height: 30px;
    animation: rotate 1s linear infinite;
}

h1{
    text-align: center;
    margin: 10px;
}

h2{
    margin: 5px;
    color: cadetblue;
}

.search-container{
    height: 25px;
    position: relative;
    margin: 20px;
    input{
        height: 100%;
        border-radius: 5px;
        border: 1px solid black;
    }

    button{
        height: 100%;
        border: 1px solid black;
        background: cadetblue;
        color: #fff;
        border-radius: 5px;
        margin-left: 5px;
        padding: 4px 10px;
        cursor: pointer;
    }
}

main{
    display: flex;
    justify-content: space-between;
    max-width: 1366px;
    margin: 0 auto;
    flex-wrap: wrap;
}


.search_form{
    text-align: center;
}


.search_list{
    figure{ 
        margin-right: 15px;
    }
    
    img{
        max-width: 100px;
        border-radius: 8px;
        border-bottom-right-radius: 44px;
    }
    li{
        display: flex;
        margin: 20px 0;
        cursor: pointer;

        &.active{
            background: aliceblue;
        }
    }
} 

.recipe-details{
    cursor: pointer;
    li{
        margin: 10px 0;
    }

    ol{
        padding-left: 15px;
    }
}

.btn-next, .btn-prev{
    border: 1px solid black;
    background: cadetblue;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    margin: 10px 0;
}


.shopping-list{
    input{
        padding: 1px;
        width: 40px;
    }
}

.results{
    max-width: 350px;
}

.result_data{
    display: flex;
    align-items: center;
}

.ingredient-text > div {
    padding: 5px;
}

.selected_recipe{
    min-width: 300px;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}